<!DOCTYPE html>
<html lang="en">
<head>
	<title>OTP</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" action="/authenticate" method="POST">
					<span class="login100-form-title p-b-70">
						Verify Your Mobile
					
					<div class="wrap-input100 validate-input m-t-85 m-b-35">
						<input class="input100" type="password" name="userEnteredOTP" placeholder="OTP" required>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Confirm
						</button>
					</div>
					
					<a href="/">Go back</a>
				</form>
			</div>
		</div>
	</div>
	
	<script src="js/main.js"></script>
</body>
</html>